<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h2>About Us</h2>
                <p>"Benvenuti su AnimeSaturn, la tua destinazione per scoprire e condividere le storie degli anime
                    più amati. Siamo un gruppo di appassionati con la missione di offrire un luogo dove gli anime
                    vengano celebrati, discussi e recensiti. Unisciti a noi per esplorare recensioni, commenti e voti su
                    tutti i tuoi anime preferiti!"</p>
                <div class="about-us-image">
                    <img src="/erenmikasa.jpg" alt="About Us Image">
                </div>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>